%header#site-header.header


  .site-branding
    %img.img-icon{:alt => "альтернативный текст", :src => "../images/logo.png"}/
    %h1
      %a{:href => "/"} Живасофт



  %nav.main-navigation
    %label.icon{:for => "toggle"}
      %span.ham
    %input#toggle{:type => "checkbox"}/
    %ul.menu
      %li
        %a{:href => "decision.html"}
          Решения
          %i
      %li
        %a{:href => "/for_whome.html"}
          Для кого
          %i
      %li
        %a{:href => "/team.html"}
          Команда
          %i
      %li
        %a.nav-last{:href => "/prezent.html"}
          Презентация
          %i
  .header-search
    %i.fa.fa-search











